<footer class="site-footer">
  <div class="wrapper">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons licencija" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> 2009-{{ 'now' | date: "%Y" }} <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ site.title }}</span> / <a xmlns:cc="http://creativecommons.org/ns#" href="{{ site.baseurl }}" property="cc:attributionName" rel="cc:attributionURL">{{ site.author }}</a> / <a class="page-link" href="{{ /apie.html | prepend: site.baseurl }}">apie šį blogą </a> / svetainės kodas <a href="https://github.com/qbilius/duona/" target="_blank">GitHub</a>
  </div>
</footer>
